.rme {
    $radius:
            r 100%,
            r1 1px,
            r2 2px,
            r3 3px,
            r4 4px,
            r5 5px,
            r6 6px,
            r7 7px,
            r8 8px,
            r9 9px,
            r10 10px;
    @each $n, $r in $radius {
        &--#{$n} {
            border-radius: $r;
            overflow: hidden;
        }
    }

    &--border {
        border: 1px solid;
    }

    @for $i from 1 through 10 {
        &--bw#{$i} {
            border-width: $i + px !important;
        }
        &--btw#{$i} {
            border-top-width: $i + px !important;
        }
        &--brw#{$i} {
            border-right-width: $i + px !important;
        }
        &--bbw#{$i} {
            border-bottom-width: $i + px !important;
        }
        &--blw#{$i} {
            border-left-width: $i + px !important;
        }
        &--bhw#{$i} {
            border-left-width: $i + px !important;
            border-right-width: $i + px !important;
        }
        &--bvw#{$i} {
            border-top-width: $i + px !important;
            border-bottom-width: $i + px !important;
        }
    }

    $borderStyles: none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit;
    @each $bs in $borderStyles {
        &--#{$bs} {
            border-style: $bs !important;
        }
    }
}