.rme {
    &--b {
        border: 1px solid;
    }

    $radius: 1 1px,
    2 2px,
    3 3px,
    4 4px,
    5 5px;
    @each $n, $r in $radius {
        &--r#{$n} {
            border-radius: $r;
        }
    }

    &--r-50 {
        border-radius: 50%;
    }

    &--r-100 {
        border-radius: 100%;
    }

    @for $i from 1 through 4 {
        &--bw#{$i} {
            border-width: $i + px !important;
        }
    }

    $borderStyles: dotted, dashed, solid, double;
    @each $bs in $borderStyles {
        &--bs-#{$bs} {
            border-style: $bs !important;
        }
    }
}