.rme {
    @each $n, $c, $tc in $colors {
        &--#{$n} {
            color: $c;
        }

        &--bc-#{$n} {
            &.rme--b {
                border-color: $c;
            }
        }

        &--btc-#{$n} {
            &.rme--b {
                border-top-color: $c;
            }
        }

        &--brc-#{$n} {
            &.rme--b {
                border-right-color: $c;
            }
        }

        &--bbc-#{$n} {
            &.rme--b {
                border-left-color: $c;
            }
        }

        &--blc-#{$n} {
            &.rme--b {
                border-bottom-color: $c;
            }
        }

        &--bhc-#{$n} {
            &.rme--b {
                border-left-color: $c;
                border-right-color: $c;
            }
        }

        &--bvc-#{$n} {
            &.rme--b {
                border-top-color: $c;
                border-bottom-color: $c;
            }
        }

        &--bg-#{$n} {
            color: $tc;
            background-color: $c;
        }

        .rme--plain.rme--#{$n} {
            border-color: $c;
            background-color: transparent !important;
            color: $c;

            &:hover {
                color: rgba($c, .8);
                border-color: rgba($c, .8);
            }
        }
    }
}