.rme {
    &--center {
        justify-content: center;
        align-items: center;

        > rme {
            margin-top: auto;
            margin-left: auto;
        }
    }
    &--left {
        margin-right: auto;
        justify-content: flex-start;
    }
    &--right {
        margin-left: auto;
        justify-content: flex-end;
    }
    &--top {
        margin-bottom: auto;
    }
    &--middle {
        margin-bottom: auto;
        margin-top: auto;
    }
    &--bottom {
        margin-top: auto;
    }
    &--txt-center {
        justify-content: center;
        text-align: center;
    }
    &--txt-left {
        justify-content: flex-start;
        text-align: left;
    }
    &--txt-right {
        justify-content: flex-end;
        text-align: right;
    }
}