.rme {
    @each $n, $c, $tc in $colors {
        &--#{$n} {
            color: $c;
        }

        &--bc-#{$n} {
            border-color: $c;
        }

        &--bg-#{$n} {
            color: $tc;
            background-color: $c;
        }

        .rme--plain.rme--#{$n} {
            border-color: $c;
            color: $c;

            &:hover {
                color: rgba($c, .8);
                border-color: rgba($c, .8);
            }
        }
    }
}
.rme--plain {
    background-color: transparent !important;
}