.rme {
    &--disabled {
        //color: initial !important;
        //background-color: initial !important;
        //border-color: initial !important;
        pointer-events: none;
        cursor: not-allowed !important;
        opacity: .6 !important;
    }
}