.rme {
    // Font size
    &--fs {
        font-size: 12px;
    }

    $sizes: 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 24, 32, 48, 64, 72;
    @each $s in $sizes {
        &--fs#{$s} {
            font-size: $s + px;
        }
    }

    // Font weight
    $weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    @each $weight in $weights {
        &--fw#{$weight} {
            font-weight: $weight;
        }
    }

    // Font lines
    &--l {
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 1;
    }

    $lines: 1, 2, 3, 4, 5;
    @each $l in $lines {
        &--l#{$l} {
            display: -webkit-box !important;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: $l;
        }
    }

    &--underline {
        text-decoration: underline;
    }

    &--line-through {
        text-decoration: line-through;
    }

    &--hover-underline {
        &:hover {
            text-decoration: underline;
        }
    }

    &--pointer {
        cursor: pointer;
    }
}