.rme-close {
    display: inline-block;
    font-size: inherit;
    cursor: pointer;
    border-radius: 2px;
    padding: 0 5px 3px;
    margin-left: auto;
    align-self: flex-start;
    transition: all .3s;

    &:hover {
        color: #fff;
        background-color: rgba($dark, .4);
    }
}