.rme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;

    &--row {
        flex-direction: row;
    }

    &--d-row {
        flex-direction: row;
    }
    &--d-col {
        flex-direction: column;
    }

    &--fill, &--rest {
        flex: 1 1;
        display: block;
    }

    &-container {
        display: flex;
        flex: 1 1;
        flex-direction: row;
        align-items: normal;
    }

    &--tag, &--btn {
        width: initial;
    }

    &-align-items-center {
        align-items: center;
    }
}

span, button {
    &.rme {
        width: auto;
    }
}