.rme {
    display: flex;
    //align-items: center;

    &--row {
        flex-direction: row;
    }
    &--col {
        flex-direction: column;
        align-items: initial;
    }
    &--fill {
        flex: 1 1;
    }

    &-container {
        display: flex;
        flex: 1 1;
        flex-direction: row;
        align-items: inherit;
    }
}