.rme {
    box-sizing: border-box;

    &--tag, &--btn {
        width: initial;
    }

    &-align-items-center {
        align-items: center;
    }
}

span, button {
    &.rme {
        width: auto;
    }
}