.r-m-e {
    .close {
        display: inline-block;
        font-size: initial;
        cursor: pointer;
        border-radius: 50%;
        padding: 0 5px;
        margin-right: -5px;
        margin-left: 5px;
    }
}